{{define "footer"}}
  </main>

  <footer class="mt-auto text-white-50">
    <p> Propulsé par <a href="#" rel="noopener noreferrer">Notaire de France {{if eq . true }}v{{template "version"}}{{end}}</a></p>
  </footer>
</div>
  </body>
</html>
{{end}}
